
#op img
{height: 100px;
    margin: auto auto;
    display:  block;
    width:500px;
    height:200px;
    cursor: text;
    font-size:70px;
    border: 2px solid slategray;

}

h1{text-align: center;
    padding-top: 1cm;
    font-size:70px;
    color:skyblue ;
    text-shadow: 2px 2px rgb(69, 46, 54);


}
h2{
   padding-top: 0.1cm;
    font-size:70px;
    color:skyblue ;
    text-shadow: 2px 2px rgb(69, 46, 54);
    text-align: center;
}




#k img{
    height: 100px;
    display: block;
    width:200px;
    height:200px;
    cursor: text;
    font-size:70px;
    border-radius: 50%;
    padding: 5px;
  }
.name{
    text-align: center;
   color:rgb(61, 26, 95) ;
    padding: 20px;
    margin: auto;
    font-size:30px;
    text-shadow: 2px 2px pink;


    width: 500px;

}

.main {

    text-align: center;
    margin: auto;
    padding: 20px;
    font-size: larger;
    border: 2px solid slategray;

    font-style: italic;
   background-color: plum ;
    text-decoration: none;

}
.preference{

    color:rgb(170, 161, 179) ;
    text-shadow: 2px 2px black;
    padding: 20px;
    font-size:20px;



}
.interest{
    text-align: center;
    margin: auto;

    font-size: larger;
    border: 2px solid slategray;
    border-radius: 50%;
    font-style: italic;
   background-color: plum ;
    text-decoration: none;

}
.camt{
    cursor: text;
    margin: auto auto;
    display: block;
}


.container{
    background-size: cover;
}
#peter{
    background-size: cover;
    border: 1px solid rgba(155, 101, 81, 0.911);
    border-radius: 10px;
}



#con1{
   border-top: 1px solid rgb(60, 74, 125) ;
    border-left: 1px solid rgb(60, 74, 125) ;
     border-right:1px solid rgb(60, 74, 125) ;
}
#con2{
    background:url(https://image.freepik.com/free-vector/watercolor-background_87374-69.jpg);
    background-size: cover;
    border-left: 1px solid rgb(60, 74, 125) ;
     border-right:1px solid rgb(60, 74, 125) ;
     border-bottom:1px solid rgb(60, 74, 125);

}
#rowcontact{
    background-size:cover;
    background-color:white
}
#hide{
    list-style:none ;
    text-align: left;

}
#li1{
    text-decoration: none;
    color: gray;
}
#tex{ padding-left: 65px;;
    font-size: x-large;



}

#te{
    font-size: x-large;
    text-align: center;

}
#C{
    border-right: 3px dotted rgb(156, 170, 220) ;
}

#A{
    padding: 20px;
    text-align: left;
    margin-left: 1.5cm;
    list-style:none ;
    font-style: italic;
}

#B{
    padding: 20px;
    text-align: left;
    margin-left: 1.5cm;
    list-style:none ;

}

#D{



    list-style:none ;
    font-style: italic;
}

::selection{
    color: blue;
    background-color:slateblue;
}

#text {
    color: black;
    text-shadow: 2px 2px rgba(77, 108, 202, 0.755);
    font-style: italic;
}

#text2 {
    color: black;
    text-shadow: 2px 2px rgba(77, 108, 202, 0.755);
    font-style: italic;
    transition: all 0.5s;
}
#text2:hover {

    color: rgb(24, 24, 91);
    border-bottom: 2px solid  rgb(39, 39, 138);
    font-style: italic;

}



#text1 {
    color: rgb(51, 51, 194);
    text-shadow: 2px 2px rgba(77, 108, 202, 0.755);
    font-style: italic;
    transition: all 0.5s;
}

#text1:hover {

    color: rgb(24, 24, 91);
    border-bottom: 2px solid  rgb(39, 39, 138);
    font-style: italic;;
}

